* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    @media (max-width: 1440px) {
        font-size: 14px;
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 0;
    gap: 100px;
}



.first-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-position: center;

}

.first-page-carousel-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.first-page-carousel-container-wrapper {
    width: 100%;
    height: 100%;
}

.first-page-carousel-container-wrapper img{
    object-fit: cover;
}


.first-page-content-container {
    position: relative;
    display: flex;
    width: 83.334%;
    min-height: 575px;
    z-index: 2;
}



.first-page-content {
    position: absolute;
    display: flex;
    max-width: 670px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.first-page-content-h1 {
    font-weight: 800; color: white; font-size: 60px;
    @media (max-width: 1440px) {
        font-size: 42px;
    }
    @media (max-width: 1024px) {
        font-size: 30px;
    }
}

.first-page-content-h5 {
    font-weight: 500; color: white;
    line-height: 1.6;
}

.first-page-content_swiper-buttons {
    display: flex; gap: 20px;
}

header {
    max-width: 1600px;
    width: 83.334%;
    height: 70px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.navigation {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}


.ulList{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.ulList a {
    text-decoration: none;
    color: inherit;
}

.language-burger-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}


.burger-menu {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.burger-line {
    width: 100%;
    background-color: black;
}

.burger-menu {
    display: none;
}

.select-language-dropdown {
    position: relative;
    display: inline-block;
}

.select-language {;
    display: flex;
    gap: 15%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.select-language-current-language {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.select-language-dropdown-content {
    width: 77px;
    height: 130px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    border-radius: 0px 16px 16px 16px;
}



.select-language:hover .select-language-dropdown-content a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-language-dropdown-content a:first-child:hover {
    border-radius: 0px 16px 0px 0px;
    background-color: #826fde;
}
.select-language-dropdown-content a:last-child:hover {
    border-radius: 0px 0px 16px 16px;
    background-color: #826fde;
}

.select-language:hover .select-language-dropdown-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}



.select-language-dropdown-content a:hover {
    background-color: #EB5757;
}

.sections:hover {
    color: orange;
    cursor: pointer;
}

.logotype {
    display: flex; align-items: center; justify-content: space-between; width: 130px;
}

.reservation {
    width: 275px; height: 64px; background-color: #F17E4E; color: white; border-radius: 50px; border: none; transition: background-color 0.4s; cursor: pointer;
    @media (max-width: 1440px) {
        width: 200px;
        height: 47px;
    }
}



.reservation:hover {
    background-color: black;
}

@media (max-width: 1440px) {
    .first-page-content-container {
        min-height: 386px;
    }
}
@media (max-width: 768px) {
    .sections {
        display: none;
    }
    .burger-menu {
        display: none;
    }
}


/*page 2*/

.about-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 83.334%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.about-right {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-left {
    width: 40%;
    background-image: url("photos/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.about-right-p {
    line-height: 25px; gap: 10px; display: flex; flex-direction: column; justify-content: space-between;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }
    .about-right {
        width: auto;
        align-items: center;
    }
}



/*page 3*/

.advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.advantages {
    width: 83.334%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.article-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    gap: 20px
}

.article-text p {
    color: #F17E4E;
}

.article-text h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
}

.advantages-icons {
    display: flex; justify-content: space-between; flex-direction: row; width: 100%; min-height: 242px; gap: 30px
}

.advantages-icon {
    display: flex; flex-direction: column; align-items: center; width: 33%; gap: 20px;
}

.advantages-icon-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.advantages-icon-text p {
    line-height: 25px;
}

.advantages-icon-text h3 {
    font-size: 18px;
}

@media (max-width: 768px) {
    .advantages-icons {
        flex-direction: column;
        align-items: center;
    }
    .advantages-icon {
        width: 100%;
    }
}


/*page 3.5*/
.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.gallery-wrapper {
    width: 100%;
}

.gallery_container {
    width: 100%;
}

.gallery_container img {
    width: 30%;
}

.swiper-button-prev::after {
    display: none;
}
.swiper-button-next::after {
    display: none;
}

.swiper-button {
    width: 80px;
    height: 80px;
}

@media (max-width: 1440px) {
    .swiper-button {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1024px) {
    .swiper-button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .swiper-button {
        width: 30px;
        height: 30px;
    }
}




/*page 4*/

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 83.334%;
    gap: 50px;
}

.photos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_focus {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32%;
    align-items: center;
    height: 100%;
}

.card_focus img {
    width: 100%;
    height: 100%;
}

.text-photo-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    width: 80%;
    height: 90%;
}

.text-photo {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    gap: 10px;
}

.text-photo p {
    width: 100%;
    line-height: 36px;
}


.hover-image2, .hover-image3 {
    display: none;
}

#reservation1, #reservation2, #reservation3 {
    display: none;
}

.reservation1:hover, .reservation2:hover, .reservation3:hover {
    background-color: black;
}

@media (max-width: 1440px) {
    .text-photo p {
        font-size: 14px;
        line-height: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .text-photo p {
        font-size: 12px;
    }

    .text-photo-container {
        justify-content: center;
    }


    .text-photo-container button {
        height: 30px;
    }

}
@media (max-width: 768px) {
    .photos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .card_focus {
        width: auto;
        background-size: cover;
    }
}


/*page 5*/
.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 714px;
}

.questions-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 83.334%;
    height: 100%;
}

.questions-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 100%;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.questions-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #E0E0E0;
    height: 80px;
    transition: height 0.3s ease;
}

.questions-card h3 {
    font-size: 24px;
}

.questions-card p {
    font-size: 20px;
    width: 90%;
    line-height: 36px;
}

.questions-card:hover {
    cursor: pointer;
}

.answer {
    display: none;
    width: 90%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.questions-card.expanded .arrow-icon {
    transform: rotate(90deg);
}

@media (max-width: 1440px) {
    .questions-card h3 {
        font-size: 14px;
    }
    .questions-card p {
        font-size: 14px;
        width: 90%;
        line-height: 16px;
    }

}

/*page 6*/

.partners {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 334px;
    gap: 50px;
}

.logos-container {
    width: 100%;
    height: 50%;
}

.logos {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 100%;
    transition-timing-function: linear;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 216px;
}

.logo image {
    width: 166px;
    height: 100px;
}



.swiper1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 50px;
    position: relative;
}

#swiper-wrapper1 {
    box-sizing: content-box;
    position: relative;
}

.swiper-slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fffaf8;
    border-radius: 35px;
    min-height: 672px;
    @media (max-width: 1440px) {
        min-height: 530px;
    }
}
#swiper-wrapper1 .swiper-slide-active {
    background-color: #fff2ec; /* Установка цвета фона для активного слайда в этом конкретном слайдере */
}

.review-card-text {
    line-height: 36px;
    @media (max-width: 1440px) {
        line-height: 25px;
    }
}

.name {
    color: #828282;
}

.review-card-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    gap: 30px;
}

.swipe-left {
    width: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer
}

.swipe-right {
    width: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer
}

/*new page*/

.sign-up {
    width: 100%;
    height: 1151px;
    background-image: url("photos/wave.svg");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.sign-up-form-container-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form-container {
    width: 590px;
    min-height: 735px;
    background-color: white;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    @media (max-width: 1440px) {
        width: 470px;
        min-height: 516px;
        margin: 30px;
        padding: 30px;
    }
}

.sign-up-form-container article h2 {
    font-size: 40px;
    @media (max-width: 1440px) {
        font-size: 28px;
    }
}

#sign-up-form {
    display: flex; flex-direction: column; gap:20px; width: 80%
}


#sign-up-form div input {
    width: 100%; height: 65px; border-radius: 16px; border: 1px solid #E0E0E0; padding-left: 8%; font-size: 20px;
}

.button-form-submit {
    background-color: #F17E4E; color: white; font-size: 20px; border: 1px solid #E0E0E0; height: 65px; border-radius: 16px
}

@media (max-width: 1440px) {
    #sign-up-form div input, .button-form-submit {
        height: 57px;
    }
    .sign-up-form-container {
        gap: 30px;
    }
}

.input-name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-number-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-name-error {
    color: #EB5757;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: none;
}

.input-number-error {
    color: #EB5757;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: none;
}

.errors {
    line-height: 36px;
    color: #EB5757;
    padding-bottom: 50px;
    display: none;
}

.modal-class {
    width: 630px;
    min-height: 438px;
    position: fixed;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#thank-you h2 {
    margin-top: 20px;
    font-size: 40px;
    line-height: 60px;
    color: #27AE60;
}

#thank-you p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-inside-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*yandex map page*/

#YMapsID {
    width: 100%;
    max-width: 1920px;
    height: 650px;
}

.footer-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-inside {
    width: 83.334%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-inside-upper {
    display: flex;
    min-height: 50%;
    justify-content: space-between;
}

.footer-logotypes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 20px;
}

.footer-list-container {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer-list-container div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
}



.contact-info {
    height: 100%;
}

.contact-info ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 1023px){
    .footer-inside-upper {
        flex-direction: column;
        gap: 50px;
    }
    .footer-logotypes, .footer-list-container div ul, .contact-info ul {
        flex-direction: row;
    }
    .footer-list-container {
        width: 100%;
        flex-direction: column;
    }

    .footer-list-container {
        justify-content: space-between;
        gap: 20px;
    }

    .footer-logotypes, .contact-info ul {
        align-items: center;
    }

    @media (max-width: 768px) {
        .contact-info ul{
            flex-wrap: wrap;
            align-items: flex-end;
        }
        .icons {
        }

    }
}


.modal-reservation-buttons {
    height: 195px; width: 80%; align-items: center; display: flex; justify-content: space-between; flex-direction: column
}

.modal-reservation-buttons a {
    width: 80%;
    height: 55px;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-reservation-buttons a {
    text-decoration: none;
    color: white;
}

.modal-reservation-buttons a:first-child {
    background-color: #6B53F6;
}

.modal-reservation-buttons a:nth-child(2) {
    background-color: #219653;
}

.modal-reservation-buttons a:nth-child(3) {
    background-color: #F17E4E;
}
.modal-reservation-buttons button {
    all: unset;
}